/* ===== Font ===== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ===== VARIABLES ===== */
:root {
  /* ===== COLORS ===== */
  --body-color: #f3f4f6;
  --color-text-100: #cbd5e1;
  --color-text-200: #94a3b8;
  --color-text-300: #374151;
  --color-primary-100: #e6d6f2;
  --color-primary-200: #b3a4d5;
  --color-primary-300: #6f4c93;
  --color-primary-400: #3d1a6d;
  --color-white: #fff;
  --color-trash: #d33737;
  /* ===== Font and typography ===== */
  /*.5rem = 5px | 1rem = 10px ...*/
  --primary-font: "Roboto", sans-serif;
  --normal-font-size: 1.4rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 640px) {
  :root {
    --normal-font-size: 1.6rem;
  }
}

/* ===== BASE ===== */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* font--size: 10px */
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--primary-font);
  font-size: var(--normal-font-size);
}

select {
  font-family: var(--primary-font);
}

body {
  background-color: var(--body-color);
  min-height: 100dvh;
}

input,
button {
  border: none;
  outline: none;
}

input {
  display: block;
  caret-color: var(--color-primary-300);
  accent-color: var(--color-primary-400);
}

button {
  cursor: pointer;
  background: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

select {
  width: 11rem;
  padding: 0.5rem;
  outline: none;
  border: 2px solid var(--color-primary-300);
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-text-300);
}
